<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831262760237-15ombr3alfm70u3jerqlneq42u6o78bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831262760237-15ombr3alfm70u3jerqlneq42u6o78bl</string>
	<key>API_KEY</key>
	<string>AIzaSyCZONuavGAv5_HXMKRejr06xwMA5L_c8jc</string>
	<key>GCM_SENDER_ID</key>
	<string>831262760237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.walletapp</string>
	<key>PROJECT_ID</key>
	<string>e-wallet-45623</string>
	<key>STORAGE_BUCKET</key>
	<string>e-wallet-45623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831262760237:ios:3aaabe4821a13d671fc7a4</string>
</dict>
</plist>